@font-face {
  font-family: "made_dillan";
  src: url(/fonts/made_dillan.woff) format("woff");
}

@font-face {
  font-family: "aleo_regular";
  src: url(/fonts/Aleo-Regular.woff) format("woff");
}

html {
  margin: 0;
  padding: 0;
  --BG_color: #fcf9f6;
  --primary_color: #ae0000;
  --H1_font: "made_dillan";
  --H2_font: "made_dillan";
  --p_font: "aleo_regular";
  --footer_marginLeft: 15px;
}

h1 {
  font-family: var(--H1_font);
  color: black;
  text-align: center;
  font-size: 34px;
  margin-top: 50px;
  text-decoration: none;
}

h2 {
  font-family: var(--H2_font);
  color: var(--primary_color);
}

h3 {
  font-family: var(--H1_font);
  color: var(--BG_color);
}

h4 {
  font-family: var(--H1_font);
  font-size: larger;
}

h5 {
  font-family: var(--H1_font);
  position: absolute;
  rotate: -90deg;
  left: -40px;
  margin-top: 20%;
}

h6 {
  font-family: var(--H1_font);
  color: var(--primary_color);
  font-size: larger;
}

p {
  font-family: var(--p_font);
}

body {
  background-color: var(--BG_color);
}

#HeroSection {
  display: none;
}

/**************** Burger Menu ******************/

ul img {
  display: none;
}

.logo {
  width: 60px;
  height: 50px;
  position: fixed;
}

.burger-menu {
  font-size: 2rem;
  cursor: pointer;
  color: var(--primary_color);
  right: 0;
  padding-right: 20px;
  top: 10px;
  z-index: 888;
  position: fixed;
}

#burger-toggle {
  display: none;
}

nav {
  height: 50px;
  padding: 10px;
}

nav ul {
  display: none;
  position: fixed;
  right: 0;
  top: 35px;
  padding-right: 25px;
  list-style-type: none;
  text-align: right;
  background-color: var(--primary_color);
  margin: 20px;
  padding: 15px;
  border-radius: 8px;
}

#burger-toggle:checked + label + nav ul {
  display: block;
}

#burger-toggle:checked + label {
  color: black;
}

nav a {
  padding: 3px;
  line-height: 1.5rem;
  width: 100%;
  display: inline-block;
  font-size: 20px;
  color: var(--BG_color);
  text-decoration: none;
  font-family: var(--H1_font);
}

.menu {
  z-index: 999;
}

/****************** Temaer **************/

.main_margin {
  margin-left: 40px;
  margin-right: 40px;
}

.main_margin h1 {
  margin-bottom: 10px;
}

.tema_link {
  text-decoration: none;
  background-color: var(--primary_color);
  color: var(--BG_color);
  font-size: 15px;
  padding: 6px;
  border-radius: 8px;
}

.flex_container {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.flex_container2 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.tilbage_margin {
  margin-top: 30px;
}

.tilbage-link {
  text-decoration: none;
  color: gray;
  border-bottom: gray 1px solid;
}

/**************** Footer *************/

footer {
  border-top: #ae0000 2px solid;
  margin-top: 50px;
}

footer p {
  font-family: var(--H1_font);
  color: var(--primary_color);
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  margin-right: 83%;
}

.grid_1-1-1 img {
  width: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: var(--footer_marginLeft);
}

footer p {
  margin: 5px;
  margin-left: var(--footer_marginLeft);
}

footer h6 {
  margin-bottom: 0;
  margin-left: var(--footer_marginLeft);
  margin-top: 15px;
}

@media (width > 1300px) {
  h1 {
    font-size: 50px;
  }

  .logo {
    width: 100px;
    height: 90px;
  }

  .burger-menu {
    font-size: 3.5rem;
  }

  nav ul {
    top: 55px;
  }

  /*************** Temaer *******************/

  .tilbage-link {
    font-size: 20px;
  }

  .tilbage_margin {
    margin-top: 100px;
  }

  h2 {
    font-size: 35px;
    margin-left: 100px;
  }

  .tema_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    column-gap: 70px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .tema_grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .grid_container {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  h4 {
    font-size: xx-large;
  }

  p {
    font-size: x-large;
  }

  /************ Footer *************/

  footer {
    margin-top: 200px;
  }

  h6 {
    font-size: x-large;
  }

  footer p {
    font-size: smaller;
  }

  .grid_1-1-1 {
    margin-right: 95%;
  }
}
